{% load thumbnail %}
<article>
  <ul>
    <li>
      Автор: {% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author }}{% endif %} <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:'d E Y' }}
    </li>
  </ul>
  <div class="card bg-light" style="width: 100%">
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img-top" src="{{ im.url }}">
    {% endthumbnail %}
    <div class="card-body">
      <h4 class="card-title">Заголовок</h4>
      <p class="card-text">
      {{ post.text|linebreaks }}
      <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a><br>
    {% if post.group %}
      <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
    {% endif %}
  </article>